<form action="/categories/<%=@category["id"]%>" method="post">
  <p>
    <label>Type:</label>
    <input type="text" name="name" value="<%=@category["type"]%>">
  </p>
  
    <input type="submit" name="" value="Create the new category.">
  </p>
</form>
